<main>
  <div class="main hero">
    <div class="container promoted">
      {% block promoted %}
        {% snippet 'home/snippets/promoted.html' %}
      {% endblock %}
    </div>
    <div class="container">
      {% block search %}
        {% snippet 'home/snippets/search.html' %}
      {% endblock %}
    </div>
    <div class="hero-bar-spacer"></div>
    <div class="hero-bar">
      <div class="container">
        <div class="module-content">
          <div class="item">
            <div class="image-container">
              <img src="/item-1.png" alt="Aguja">
            </div>
            <div class="text-container">
              <h3>Lorem</h3>
              <p>Prueba de texto</p>
            </div>
          </div>
          <div class="item">
            <div class="image-container">
              <img src="/item-2.png" alt="Aguja">
            </div>
            <div class="text-container">
              <h3>Lorem</h3>
              <p>Prueba de texto</p>
            </div>
          </div>
          <div class="item">
            <div class="image-container">
              <img src="/item-3.png" alt="Aguja">
            </div>
            <div class="text-container">
              <h3>Lorem</h3>
              <p>Prueba de texto</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="display: none">{{ h.demo_groups() }}</div>

  <div class="data-categories-container--light">
    <section aria-labelledby="data-categories-title" class="container data-categories-section text-center">
      <h1 id="data-categories-title">{% trans %}Data categories{% endtrans %}</h1>
      <div class="data-categories-container">
        {% for group in h.demo_groups() %}
        <a href="{{ h.url_for('group.read', id=group.id) }}" aria-labelledby="category-title-{{ group.id }}"
          class="data-category">
          {% if group.image_url %}
          <img src="{{ group.image_display_url }}" />
          {% endif %}
          <h2 id="category-title-{{ group.id }}">{{ group.display_name }}</h2>
          <p>
            {% trans count=group.package_count %} {{ count }} dataset {% pluralize
            %} {{ count }} datasets {% endtrans %}
          </p>
        </a>
        {% endfor %}
        <a class="all-data-link" href="/group">
          {% trans %}See all categories{% endtrans %}
          <i class="fa fa-arrow-right" aria-hidden="true" role="presentation"></i>
        </a>
      </div>
    </section>
  </div>

  <section aria-labelledby="recent-datasets-title" class="container data-categories-section text-center">
    <h1 id="recent-datasets-title">
      {% trans %}Recently published data{% endtrans %}
    </h1>
    <div class="data-categories-container">
      {% for package in h.demo_latest_packages() %}
      <a href="{{ h.url_for('dataset.read', id=package.id) }}" aria-labelledby="dataset-title-{{ package.id }}"
        class="data-category">
        <h2 id="dataset-title-{{ package.id }}">{{ package.title }}</h2>
        <p>
          {% trans count=package.num_resources %} {{ count }} resources {%
          pluralize %} {{ count }} resources {% endtrans %}
        </p>
      </a>
      {% endfor %}
      <a class="all-data-link" href="/dataset">
        {% trans %}See all datasets{% endtrans %}
        <i class="fa fa-arrow-right" aria-hidden="true" role="presentation"></i>
      </a>
    </div>
  </section>
</main>